################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Implement_Swagger_UI/v17
/.vs/Implement_Swagger_UI/config
